
.sign-in{
    width: 420px;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
     .title{
         margin: 10px 0;
     }
     .buttons{
         display: flex;
         justify-content: space-between;
      }
}